**/DE_analysis
**/data
**/results
**/raw_multiqc
**/trimmed_multiqc
*.Rproj
*.out
*.fa
*.fai
*.fna
*.gff
*.gtf
*.bam
*.bai
*.ht2
*.err
*.zip
*.gzip
*fastq
*html
*.gz
*.counts
*.counts_2
**/genome
.DS_Store
.Rproj.user
.Rhistory

